<div class="page-wrapper">
  <div class="content">
    <!-- Page Header -->
    <div class="page-header">
      <div class="row">
        <div class="col-sm-12">
          <ul class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Roles y Permisos </a></li>
            <li class="breadcrumb-item">
              <i class="feather icon-chevron-right"></i>
            </li>
            <li class="breadcrumb-item active">Registro</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- /Page Header -->
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card-box">
          <h4 class="card-title">Creacion de Roles</h4>
          <form action="#">
            <div class="form-group row">
              <label for="text" class="col-form-label col-md-2">Nombre:</label>
              <div class="col-md-10">
                <input type="text" class="form-control" />
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card-box">
          <h4 class="card-title">Asignacion de permiso</h4>
          <div class="card-block">
            <!-- <h5 class="text-bold card-title">Bordered Table</h5> -->
            <div class="table-responsive">
              <table class="table table-bordered mb-0">
                <thead>
                  <tr>
                    <th>Seccion</th>
                    <th>Permisos</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Enfermero/a</td>
                    <td>
                      <div class="">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="checkbox" /> Enfermero add
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="checkbox" /> Enfermero edit
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="checkbox" /> Profile Enfermero
                          </label>
                        </div>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Doctor</td>
                    <td>
                      <div class="">
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="checkbox" /> Doctor add
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="checkbox" /> Doctor edit
                          </label>
                        </div>
                        <div class="checkbox">
                          <label>
                            <input type="checkbox" name="checkbox" /> Profile Doctor
                          </label>
                        </div>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
